* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: fantasy, sans-serif;
}

body {
	background-image: url(https://ci5.googleusercontent.com/proxy/T8Wzw5IHJWOjfGRwuwIKHDNSf6gOK3sswGUs_jPnJlPf_DnGUAR4O6kn_lOs3ojq0HZtmTzh97k17w68mB-hhepE=s0-d-e1-ft#http://jewishaction.com/content/uploads/115.jpg);
	background-size: cover;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px;
	padding: 10px;
	background-color: #f59d6c;
	background-image: linear-gradient(62deg, #f59d6c 0%, #F7CE68 53%);

	color: white;
	border-radius: 5px;
}

#logo {
	margin-left: 7px;
	font-size: 35px;
	font-style: italic;
	transition: all 0.5s ease;

}

#logo:hover {
	cursor: pointer;
}


nav a {
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: 20px;
	margin: 5px 10px;
	border: 3px solid white;
	border-radius: 5px;
	padding: 5px;
	transition: all 0.5s ease;
}

nav a:hover {
	cursor: pointer;
	color:  #F7CE68;
	background-color: #F59D6C;
	border: 3px solid white;
	transform: scale(1.1);
}

.container {
	font-size: 20px;
	display: inline-block;
	background: rgb(2,0,36);
	background: linear-gradient(62deg, #f59d6c 0%, #F7CE68 53%);
	border-radius: 5px;
	margin: 10px;
	transition: all 0.5s ease;
	padding: 10px;
	text-align: justify;
}

.container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

#container {
	width: 750px;
	position: relative;
	top: 10px;
	left: 30px;
	
}

#containertwo {
	width: 850px;
	position: relative;
	top: 60px;
	left: 50px;
	
}

#containerthree {
	width: 950px;
	position: relative;
	top: 110px;
	left: 70px;
	
}
