* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: fantasy, sans-serif;
}

body {
	background-image: url(http://identitejuive.com/wp-content/uploads/2013/10/Rabbi-Ovadia-Yosef.jpg);
	background-size: cover;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px;
	padding: 10px;
	background-color: #f59d6c;
	background-image: linear-gradient(62deg, #f59d6c 0%, #F7CE68 53%);

	color: white;
	border-radius: 5px;
}

#logo {
	margin-left: 7px;
	font-size: 35px;
	font-style: italic;
	transition: all 0.5s ease;

}

#logo:hover {
	cursor: pointer;
}


nav a {
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: 20px;
	margin: 5px 10px;
	border: 3px solid white;
	border-radius: 5px;
	padding: 5px;
	transition: all 0.5s ease;
}

nav a:hover {
	cursor: pointer;
	color:  #F7CE68;
	background-color: #F59D6C;
	border: 3px solid white;
	transform: scale(1.1);
}

.container {
	font-size: 20px;
	display: inline-block;
	background: rgb(2,0,36);
	background: linear-gradient(62deg, #f59d6c 0%, #F7CE68 53%);
	border-radius: 5px;
	margin: 10px;
	transition: all 0.5s ease;
	padding: 10px;
	text-align: justify;
	position: relative;
	left: 50px;
	top: 30px;
}

.container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

